<div class="topbar">
  <div class="chevron">
    <%= link_to :back do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title"><span class="my">MY</span> <%= @challenge.category.name.upcase %><span class="excla-mark">!</span></%></div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>

<div class="container">
  <h1 class="head-title">QUIZZ</h1>
  <h2 class="third-title"><mark></mark><%= @challenge.name%></h2>

<div class="quizz-box">
  <% @questions.each_with_index do |question, q_index| %>
    <p id="<%= q_index %>-question"><strong><%= question.content %></strong></p>
    <div class="border-question"></div>
      <% question.answers.each do |answer| %>
        <% if answer.status %>
          <div class="answer">

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">
                <%= link_to answer.content, question_question_completions_path(question), method: :post, remote: true, class: 'answer-option'%>
              </label>
            </div>


            <% if current_user.challenges.include?(question.challenge) %>
              <div class="explanation">
            <% else %>
              <div class="explanation d-none">
            <% end %>
              <%= answer.explanation %>
              <% if q_index + 1 == @questions.all.length %>
                <%= link_to 'Finish', challenge_challenge_completions_path(@challenge), method: :post, class: "button-default d-none", id: 'real-finish' %>
                <p id="fake-finish">finish</p>
              <% else %>
                <a href="#<%= q_index + 1 %>-question">Next</a>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="answer">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">
              <a href="" class="answer-option"><%= answer.content %></a>
            </label>
            </div>

            <div class="explanation d-none">
              <%= answer.explanation %>
            </div>
          </div>
        <% end %>
      <% end %>
      <hr>
  <% end %>
  </div>
</div>

