<div>
  <% @questions.each_with_index do |question, q_index| %>
    <p id="<%= q_index %>-question"><strong><%= question.content %></strong></p>
      <% question.answers.each do |answer| %>
        <% if answer.status %>
          <div class="answer">
            <a href="" class="answer-option"><%= answer.content %></a>
            <div class="explanation d-none">
              <%= answer.explanation %>
              <% if q_index + 1 == @questions.all.length %>
                <%= link_to 'finish', challenge_path(@challenge) %>
              <% else %>
                <a href="#<%= q_index + 1 %>-question">Next</a>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="answer">
            <a href="" class="answer-option"><%= answer.content %></a>
            <div class="explanation d-none">
              <%= answer.explanation %>
            </div>
          </div>
        <% end %>
      <% end %>
      <br>
      <hr>
      <br>
  <% end %>
</div>

<div>
  <%= link_to "Go back to the challenge", challenge_path(@challenge) %>
</div>
