<h1>All recipes</h1>

<div>
  <%= form_tag all_recipes_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Look into all our recipes"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<% @recipes.each do |recipe| %>
  <div>
    <%= cl_image_tag recipe.photo.key %>
    <%= link_to recipe.name, recipe_path(recipe.id) %>
    <%= recipe.time %>
    <%= recipe.difficulty %>
      <%= link_to recipe_create_or_destroy_path(recipe), method: :post do  %>
        <% if current_user.recipes.include?(recipe) %>
          <i class="fas fa-heart"></i>
        <% else %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
  </div>
<% end %>
