<div class="topbar">
  <p class="chevron">
    <%= link_to :back do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </p>

  <p class="topbar-title">ALL RECIPES</p>
</div>

<div class="container">
  <h2 class="second-title">Delicious ideas.<br>For delicious meals.</h2>

<div class="search-form">
  <%= form_tag all_recipes_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search our recipes"%>
      <%= button_tag(type: 'submit', class: "button-search") do %>
         <i class="fas fa-seedling"></i>
      <% end %>
      <%#= submit_tag "Search", class: "button-search" %>
  <% end %>
</div>


<div class="recipe-column">

  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <!-- <div class="recipe-details-img">
        <%= cl_image_tag recipe.photo.key%>
      </div>

      <div class="recipe-info">

        <div class="recipe-details title">
        <%= link_to recipe.name, recipe_path(recipe.id) %>
        </div>

        <div class="recipe-details difficulty">
          <%= recipe.difficulty %>
        </div> -->


      <div class="recipe-img small" style="background-image: url('<%= cloudinary_url(recipe.photo.key) %>')">
        &nbsp;
      </div>

      <div class="recipe-card-text small">
        <h2 class="recipe-name small"><%= recipe.name %></h2>
        <h3 class="recipe-difficulty small">
          <% if recipe.difficulty == "Easy" %>
            <i class="fas fa-utensil-spoon green"></i>
            <i class="fas fa-utensil-spoon"></i>
            <i class="fas fa-utensil-spoon"></i>
            <% else %>
           <i class="fas fa-utensil-spoon"></i>
           <i class="fas fa-utensil-spoon"></i>
           <i class="fas fa-utensil-spoon"></i>
           <% end %>
        </h3>
      </div>


        <!-- <div class="recipe-details like">
          <%= link_to recipe_create_or_destroy_path(recipe), method: :post do  %>
            <% if current_user.recipes.include?(recipe) %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </div> -->

  </div>
  <% end %>

</div>

</div>
