<div class="topbar">
  <div class="chevron">
    <%= link_to :back do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title">ALL RECIPES</div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>

<div class="container">
  <h2 class="second-title">Delicious ideas.<br>For delicious meals.</h2>

<div class="search-form">
  <%= form_tag all_recipes_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search our recipes"%>
      <%= button_tag(type: 'submit', class: "button-search") do %>
         <i class="fas fa-seedling"></i>
      <% end %>
      <%#= submit_tag "Search", class: "button-search" %>
  <% end %>
</div>


<div class="recipe-column">

  <% @recipes.each do |recipe| %>
    <div class="recipe-details">

      <div class="recipe-details-img">
        <%= cl_image_tag recipe.photo.key%>
      </div>

      <div class="recipe-info">

        <div class="recipe-details title">
        <%= link_to recipe.name, recipe_path(recipe.id) %>
        </div>

        <div class="recipe-details difficulty">
          <%= recipe.difficulty %>
        </div>

        <!-- <div class="recipe-details like">
          <%= link_to recipe_create_or_destroy_path(recipe), method: :post do  %>
            <% if current_user.recipes.include?(recipe) %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </div> -->

      </div>

    </div>
  <% end %>
</div>

</div>
