<div class="topbar">
  <div class="chevron">
    <%= link_to :back do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title">ALL RECIPES</div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>

<div class="container">
  <h2 class="second-title">Delicious ideas.<br>For delicious meals.</h2>

<div class="search-form">
  <%= form_tag all_recipes_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search our recipes"%>
      <%= button_tag(type: 'submit', class: "button-search") do %>
         <i class="fas fa-seedling"></i>
      <% end %>
      <%#= submit_tag "Search", class: "button-search" %>
  <% end %>
</div>


<div class="recipe-column">

  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <%= link_to recipe_path(recipe.id) do %>

      <div class="recipe-img-small" style="background-image: url('<%= cloudinary_url(recipe.photo.key) %>')">
        &nbsp;
      </div>

      <div class="recipe-card-text-small">
        <h2 class="recipe-name-small"><%= recipe.name %></h2>
        <div class="recipe-difficulty-small">
          <% if recipe.difficulty == "Easy" %>
                  <i class="fas fa-utensil-spoon green"></i>
                  <i class="fas fa-utensil-spoon"></i>
                  <i class="fas fa-utensil-spoon"></i>
                <% elsif recipe.difficulty == "More effort"%>
                  <i class="fas fa-utensil-spoon green"></i>
                  <i class="fas fa-utensil-spoon green"></i>
                  <i class="fas fa-utensil-spoon"></i>
                <% else %>
                  <i class="fas fa-utensil-spoon"></i>
                  <i class="fas fa-utensil-spoon"></i>
                  <i class="fas fa-utensil-spoon"></i>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
  <% end %>

</div>

</div>
