<h1>All recipes</h1>
<% @recipes.each do |recipe| %>
  <div>
    <%= cl_image_tag recipe.photo.key %>
    <%= recipe.name %>
    <%= recipe.description %>
    <%= recipe.time %>
    <%= recipe.difficulty %>
    <% if current_user.recipes.include?(recipe) %>
      <p>Added <i class="fas fa-check"></i></p>
    <% else %>
      <%= link_to 'Add to cookbook', recipe_user_recipes_path(recipe), method: :post %>
    <% end %>
  </div>
<% end %>
