<div class="topbar">
  <div class="chevron">
    <%= link_to :back do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title"><span class="my">MY</span> <%= @challenge.category.name.upcase %><span class="excla-mark">!</span></%></div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>

<div class="container">
  <h1 class="main-title">RECIPES</h1>
  <h2 class="third-title"><mark></mark>Challenge <%= @challenge.id %></h2>

<div class="recipe-page">
  <h2 class="recipe-title"><%= @recipe.name.upcase%></h2>

  <div class="recipe-img">
    <%= cl_image_tag @recipe.photo.key %>
  </div>

  <div class="recipe-difficulty">
    <p><%= @recipe.difficulty %><%= @recipe.time %></p>
  </div>

  <p class="paragraph-title">INGREDIENTS</p>
  <p><%= @recipe.ingredients %></p>


  <p class="paragraph-title">MAKE IT NOW</p>
  <p><%= @recipe.description %></p>

  <%= link_to recipe_create_or_destroy_path(@recipe), method: :post do  %>
    <% if current_user.recipes.include?(@recipe) %>
      <i class="fas fa-heart"></i>
    <% else %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
</div>

</div>
