<div class="topbar">
  <div class="chevron">
    <%= link_to choose_cookbook_path do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title">MY COOKBOOK</div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>


<div class="container">

<% if current_user.recipes.empty? %>
  <p>😢 You don't have any favorite recipes for now...</p>
  <p>Do not hesitate to search among all our recipes and add to your cookbook if you like them !</p>
  <div style="box-shadow: 2px 2px 10px 0px rgba(204,204,204,1);">
    <%= image_tag("like_recipe.png") %>
  </div>
<% end %>

<div class="recipe-column">

  <% @cookbook.each do |recipe| %>
    <div class="recipe-card-cookbook">
      <%= link_to recipe_path(recipe.id) do %>

      <%= cl_image_tag recipe.photo.key, class: "recipe-img-small", alt: "alttext" %>

      <div class="recipe-card-text-small">
        <h2 class="recipe-name-small"><%= recipe.name %></h2>

<div class= "recipe-like">
    <%= link_to recipe_create_or_destroy_path(recipe), method: :post do  %>
        <i class="fas fa-heart"></i>
    <% end %>
  </div>
      </div>

      <% end %>
    </div>
  <% end %>

</div>

</div>
