<div class="topbar">
  <!-- <img src="./app/assets/images/began-logo.png" alt="Began logo"> -->
  <%= image_tag("began-logo.png", alt: "Began logo", class: "logo") %>
</div>

<div class="container">
  <div class="welcome">
    <h1>Hi,</h1>
    <h1><%= @user.first_name %></h1>
  </div>

  <%= link_to meat_counter_path do %>
    <div class="card-button yellow">
      <h2><%= @user.no_meat_counter %></h2>
      <h4>Days without meat</h4>
    </div>
  <% end %>

  <div class="cards-button">

  <div class="card-button green">
    <%= link_to choose_category_path do %>
      <div>
        <% if @user.category_id.nil? %>
          <h2>Choose your goal</h2>
        <% else %>
          <%= link_to category_path(@user.category_id) do %>
          <h2>Start now</h2>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>


  <div class="card-button pink">
    <%= link_to cookbook_path do %>
     <div>
       <h2>My favorites<h2>
       <h2>Recipes</h2>
     </div>
    <% end %>
  </div>

</div>
