<div class="topbar">
  <!-- <img src="./app/assets/images/began-logo.png" alt="Began logo"> -->
  <%= image_tag("began-logo.png", alt: "Began logo", class: "logo") %>
</div>

<div class="container" style="background-image: url('/images/began-homepage.png') ">
  <div class="welcome">
    <h4 class="extra-large">Hi,</h4>
    <h1><%= @user.first_name %></h1>
  </div>

  <div class="cards-button">
    <%= link_to meat_counter_path do %>
      <div class="card-button yellow">
        <p><span class="extra-large"><%= @user.no_meat_counter %></span>
        <br><span class="big">DAYS</span>
        <br>without meat</p>
      </div>
    <% end %>
  </div>

  <div class="cards-button">

  <div class="card-button green">
    <%= link_to choose_category_path do %>
      <div class="card-button-text">
        <% if @user.category_id.nil? %>
          <p>Choose your
          <br><span>GOAL</span>
          </p>
        <% else %>
          <%= link_to category_path(@user.category_id) do %>
          <h2>Start now</h2>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>


  <div class="card-button pink">
    <%= link_to cookbook_path do %>
     <div class="card-button-text">
      <p>My favorite
      <br><span>RECIPES</span>
     </div>
    <% end %>
  </div>

</div>
