<div class="topbar">
  <div class="chevron">
    <%= link_to homepage_path do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title">COUNTER</div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>

<%= month_calendar do |date| %>
  <% no_meat_day = @no_meat_days.detect { |nmd| nmd.created_at.to_date == date } %>
  <% if date == Date.current %>
    <%# raise %>
  <% end %>
  <% if no_meat_day.nil? %>
    <% if date == Time.now.to_date %>
      <%= link_to add_one_path, method: :post, remote: true, class: 'mark-day' do  %>
          <%= date.day %>
      <% end %>
    <% elsif date < Time.now.to_date %>
      <div class="not-done">
        <%= date.day %>
      </div>
    <% else %>
      <div class="no-mark-day">
        <%= date.day %>
      </div>
    <% end %>
  <% else %>
    <div class="done">
      <%= date.day %>
    </div>
  <% end %>
<% end %>

<script>
  const div = document.querySelector('.mark-day');

  div.addEventListener('click', (event) => {
    event.currentTarget.classList.add('done');
  });
</script>
