<div class="topbar">
  <div class="chevron">
    <%= link_to category_path(@challenge.category) do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title"><span class="my">MY</span> <%= @challenge.category.name.upcase %><span class="excla-mark">!</span></%></div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>

<div class="container">
  <h1 class="head-title">CHALLENGE <%= @challenge.position %></h1>

  <h2 class="second-title"><%= @challenge.name.upcase %></h2>

  <div class="challenge-description">
    <p><%= @challenge.description %></p>
  </div>

  <% unless @challenge.tips.empty? %>
    <h2 class="challenge">Tips</h2>

    <div class="challenge-tips">
      <div class="accordion" id="accordionExample">
        <% @challenge.tips.each_with_index do |tip, index|%>

        <!-- Wrote the css in _buttons.css. It can be errased if you want, no problem -->

          <div class="card accordion-card">
            <div class="card-header tip-name" id="heading<%= index %>">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                  <i class="fas fa-angle-down"></i> <%= tip.title %>
                </button>
              </h2>
            </div>

            <div id="collapse<%= index %>" class="collapse tip-info" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <%= tip.description %>
                <!-- Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. -->
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  <% end %>


  <div class="challenge-links">

  <!-- <div class="challenge-link">
  </div> -->
  <% if @challenge.is_quizz %>
    <div class="challenge-link">
      <%= link_to "Quizz", challenge_questions_path(@challenge.id), class: "button-default"  %>
    </div>
  <% else %>
    <div class="challenge-link">
      <% unless @challenge.recipes.empty? %>
        <%= link_to "Recipes", challenge_recipes_path(@challenge.id), class: "button-default"  %>
      <% end %>
      <%= link_to 'Complete', challenge_challenge_completions_path(@challenge), method: :post, class: "button-default" %>
    </div>
  <% end %>

  <!-- <div class="challenge-link">
  <% if @challenge.questions.all? { |question| current_user.questions.include?(question)} %>
      <%= link_to 'Mark as done', challenge_challenge_completions_path(@challenge), method: :post,  class:"button-complete"  %>
    <% else %>
      <p>Please complete the quizz</p>
    <% end %>
   </div> -->
</div>

</div>
