<h1><%= @challenge.name %></h1>
<p><%= @challenge.description %></p>

<% if current_user.challenges.include?(@challenge) %>
  <p>Completed <i class="fas fa-check"></i></p>
  <%= link_to 'Back to list', category_path(current_user.category_id) %>
<% else %>
  <%= link_to 'Completed', challenge_challenge_completions_path(@challenge), method: :post %>
<% end %>

<div>
  <% @challenge.tips.each do |tip |%>
    <p><%= tip.title %></p>
    <p><%= tip.description %></p>
  <% end %>
</div>

<%= link_to "See the recipes for this challenge", challenge_recipes_path(@challenge.id) %>
<%= link_to "Do the quizz", challenge_questions_path(@challenge.id) %>


