<h1>Community</h1>
<h4>
  Wright your feeling, sensation, appreciation
  <br>
  Share your advices to the others...
</h4>

<% @posts.each do |post| %>
  <div>
    <p>
      <span style="font-size: small; color: gray;"><%= post.created_at.strftime("%d-%m") %></span>
      <%= post.content %>
      <span style="color: gray">~ <%= post.user.fullname %></span>
      <% if post.user == current_user %>
        <%= link_to post_path(post), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>

<h4>Add a post !</h4>
<%= simple_form_for (@post) do |f| %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-success"%>
<% end %>
