<div class="topbar">
  <div class="chevron">
    <%= link_to root_path do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title">FORUM</div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>

<div class="all_forum_page">
  <div class="post_part">
    <% if @posts.empty? %>
      <p>No posts for now... be the first to share something with the community !</p>
    <% else %>
      <% @posts.each do |post| %>
        <div class="post_partie" id='post-<%= post.id %>'>
          <p class="post_content">
            <span style="font-size: small; color: gray;"><%= post.created_at.strftime("%d-%m") %></span>
            <%= post.content %>
            <span style="color: gray">~ <%= post.user.first_name %></span>

            <i class="fas fa-comments"></i><span>(<%= post.comments.count %>)</span>

            <% if post.user == current_user %>
              <%= link_to post_path(post), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </p>
          <div class="comment_part">
            <div class="comments_display d-none">
              <% post.comments.each do |comment| %>
                <div>
                  <%= comment.content %> - <span style="color: gray"><%= comment.user.first_name %></span>
                </div>
              <% end %>
            </div>

            <div class="comment_form d-none">
              <%= simple_form_for [post, @comment] do |f| %>
               <div class="form_style">
                <div class="form_content">
                  <p><%= f.input :content, label: false, placeholder: 'Add a new comment !' %></p>
                </div>
                <%= button_tag(type: 'submit', class: "send_btn") do %>
                  <i class="fas fa-arrow-circle-up"></i>
                <% end %>
               </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="form_part">
    <div class="post_form">
      <%= simple_form_for (@post) do |f| %>
        <div class="form_style">
          <div class="form_content">
            <%= f.input :content, label: false, placeholder: 'Add a new post !' %>
          </div>
          <%= button_tag(type: 'submit', class: "send_btn") do %>
            <i class="fas fa-arrow-circle-up"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
