<div class="topbar">
  <div class="chevron">
    <%= link_to homepage_path do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title">FORUM</div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>

<div class="all_forum_page">
  <div class="post_part">
    <div id="add_a_post">
      <i class="fas fa-plus-circle" id="add_a_postplus"></i>
    </div>

    <% if @posts.empty? %>
      <p>No posts for now... be the first to share something with the community !</p>
    <% else %>


      <% @posts.each do |post| %>
        <div class="post_partie" id='post-<%= post.id %>'>

          <div class="post_content">
            <div class="content_part">
              <p>
                <span style="font-size: small; color: gray;"><%= post.created_at.strftime("%d-%m") %></span>
                <span style="color: gray"> <%= post.user.first_name %></span>
              </p>
              <p><%= post.content %></p>
            </div>
            <div class="icon_part">
              <p class="comment_toggle"><i class="fas fa-comments"></i><span style="font-size: small; color: gray;"> Comments (<%= post.comments.count %>)</span></p>
            </div>


          </div>
          <div class="comment_part  d-none">
            <div class="comments_display">
              <% post.comments.each do |comment| %>
                <div class="comment_content">
                  <%= comment.content %> - <span style="color: gray"><%= comment.user.first_name %></span>
                </div>
              <% end %>
            </div>

            <div class="comment_form">
              <%= simple_form_for [post, @comment] do |f| %>
               <div class="form_style">
                <div class="form_content">
                  <p><%= f.input :content, label: false, placeholder: 'Add a new comment !' %></p>
                </div>
                <%= button_tag(type: 'submit', class: "send_btn") do %>
                  <i class="fas fa-arrow-circle-up"></i>
                <% end %>
               </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="form_part d-none">
    <p id="close"><i class="fas fa-times-circle"></i></p>
    <div class="post_form">
      <%= simple_form_for (@post) do |f| %>
        <div class="form_style">
          <div class="form_content">
            <%= f.input :content, label: false, placeholder: 'Add a new post !' %>
          </div>
          <%= button_tag(type: 'submit', class: "send_btn") do %>
            <i class="fas fa-arrow-circle-up"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
