<div class="topbar">
  <p>FORUM</p>
</div>

<div class="all_forum_page">
  <div class="post_part">
    <p><strong>
      Wright your feeling, sensation, appreciation
      <br>
      Share your advices to the others...
    </strong></p>

    <% if @posts.empty? %>
      <p>No posts for now... be the first to share something with the community !</p>
    <% else %>
      <% @posts.each do |post| %>
        <div class="post_partie">
          <p class="post_content">
            <span style="font-size: small; color: gray;"><%= post.created_at.strftime("%d-%m") %></span>
            <%= post.content %>
            <span style="color: gray">~ <%= post.user.fullname %></span>

            <i class="fas fa-comments"></i><span>(<%= post.comments.count %>)</span>

            <% if post.user == current_user %>
              <%= link_to post_path(post), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </p>
          <div class="comment_part">
            <div id="comments_display" class="d-none">
              <% post.comments.each do |comment| %>
                <%= comment.content %> - <span style="color: gray"><%= comment.user.fullname %></span>
              <% end %>
            </div>

            <div id="comment_form" class="d-none">
              <%= simple_form_for [post, @comment] do |f| %>
               <div class="form_style">
                <div class="form_content">
                 <%= f.input :content %>
                </div>
                <%= button_tag(type: 'submit', class: "send_btn") do %>
                  <i class="fas fa-arrow-circle-up"></i>
                <% end %>
               </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="form_part">
    <p>Add a post !</p>
    <div class="post_form">
      <%= simple_form_for (@post) do |f| %>
        <div class="form_style">
          <div class="form_content">
            <%= f.input :content %>
          </div>
          <%= button_tag(type: 'submit', class: "send_btn") do %>
            <i class="fas fa-arrow-circle-up"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
